body {
  padding-top: 75px;  
}
.navbar a {
	color:#fff !important;
}

.cart-block{
	background: #333;
	color:#fff;
	padding:10px;
	margin-bottom: 20px;

}

.panel-list a{
	display: block;
	color: #666;
}

.panel-list .panel-heading h3{
	padding:4px;
	font-size: 18px;
}

.panel-heading-green{
	background:#3b7e14 !important;
	color: #fff !important;
}

.panel-heading-dark{
	background:#333333 !important;
	color:#fff !important;
}

.solar{
	display:relative;
}

.solar-title{
	text-align: center;
	padding: 5px;
	background: #333;
	color: #fff;
}

.solar img{
	width:100%;
}

.solar-price{
	position:absolute;
	bottom:145px;
	right:15px;
	background:#3b7e14;
	color:#fff;
	padding:5px;
	font-size:22px;
}

.solar-add{
	margin: 5px auto 20px auto;
	width: 100%;
	text-align: center;
	padding: 25px;
}


.footer{
	background: #333;
	color: #fff;
	height: 70px;
	text-align: center;
	padding-top: 20px;
}

.qty {
	width: 40px;
	color: #666 !important;
	text-align: center;
	margin-bottom:10px;
}
